<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<img src="{{image}}" alt="">


<form class="btn" action="/meals/index">
  <input type="submit" value="ENTER">
</form>

<form class="btn" action="/users/signup">
  <input type="submit" value="SIGN UP">
</form>

<form class="btn" action="/sessions/login">
  <input type="submit" value="LOG IN">
</form>
