<!DOCTYPE html>

<html>
<head>
	<title>{{title}}</title><!-- Latest compiled and minified CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href='/stylesheets/style.css' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do|Rock+Salt" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">

</head>

<body>
	<div class="bg-homepage container-fluid">
		<div class="text-homepage">
			<h1>The Conscious Foodie</h1>


			<form action="/users" index="enterHomepage" >
				<input id="enter" class="btn btn-primary btn-lg" type="submit" value="ENTER">
			</form>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
	</script> <!-- Latest compiled and minified JavaScript -->

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	</script>
</body>
</html>
