<!DOCTYPE html>

<html>
<head>
	<title>The Conscious Foodie</title><!-- Latest compiled and minified CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link href='/stylesheets/style.css' rel='stylesheet'>
</head>

<body>
	<header>
		<nav class="navbar">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="/users"><img alt="conscious foodie logo" src="/images/logo/logo2.png" width="200px"></a>
				</div>

				<ul class="nav navbar-nav">
					<li class="active">
						<a href="users/show">Home</a>
					</li>
				</ul>


				<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/users/signup?"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
						</li>
						<li>
							<a href="/sessions/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
						</li>
	          <li>
	            <a href="/users"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
	       		</li>
				</ul>
			</div>
		</nav>
	</header>

  <div class="container">
    {{{body}}}
  </div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
	</script> <!-- Latest compiled and minified JavaScript -->

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
	</script>
</body>
</html>
