html {
  margin: 0 auto;
  padding: 0px;
  text-align: center;

}
body {
  /*padding: 50px;*/
  font-family: 'Nothing You Could Do', cursive;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
}
#enterHomepage {
  border: none;

}

#mealNumOne {
  font-weight: bold;
  font-size: 36px;
}

.navbar-header {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  font-family: 'Nothing You Could Do', cursive;
}

.d-flex {
  font-size: 48px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
    height: 500px;
}

.item {
  height: 550px;
  width: 100%;
}
.navbar {
    line-height: 100px;
    padding-top: 0;
    loat: none;
    vertical-align: middle;
    font-family: 'Nothing You Could Do', cursive;
}
.bg-homepage {
  background-image: url('https://source.unsplash.com/KYBzqPuif5w');
  background-size: 100% 100%;
  width: 100%;
  height: 650px;
  z-index: 0;
  padding: 0;
}

.text-homepage, .text-homepage h1 {
  margin-top: 250px;
  text-align: center;
  color: #fff;
  font-size: 56px;
}

.login-signup {
  display: flex;
  /*width: 500px;
  height: 500px;*/
  background-color: grey;
  margin: 0 auto;
  width: 100px;
  height: 200px;
  margin-top: 100px;
}
.col-md.6{
  height: 500px;
  margin: auto;
  width: 50%;
}
/*#cancel {
  padding: 0px;
  width: 50%;
}*/

.btn-default {
  margin: 0 auto;
  /*text-align: center;*/
}

a {
    color: #000;
}

a:hover {
    color: #209aca;
}

ol {
    list-style-type: none;
    padding: 20px 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

ol li {
    padding-bottom: 15px;
}

.btn.btn-primary, .btn.btn-danger {
    margin-top: 20px;
}

.btn.btn-default {
    margin-top: 50px;
}

.container-fluid {
  width: auto;
}

.create h1 {
  text-align: center;
}

.loginPage {
  align-items: center;
}

.meals {
  width: 500px;
}

w3-container {
  width: 100%
}

element.style {
    background-color: #f1f1f1;
    margin: auto;
    width: 50%;
}

/* Bordered form */
form {

    margin: auto;
    width: 50%;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.container-form {
  margin: auto;
  align: center;
  text-align: center;
  width: 100% !important;
}

footer {
  height: 100px;
  background-color: #E3E4E8;
  padding: 10px 0px 0px 0px;
}

.fa {
  font-size: 36px;
  padding: 10px;
}
