<!-- <h1>Create your Favorite Meal</h1>

<div class="row">
    <form action="/users/{{user.id}}/meals" method="POST" class="col-md-6 col-md-offset-3">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" name="description" class="form-control">
        </div>
        <div class="form-group">
            <label for="calories">Calories:</label>
            <input type="text" name="country" class="form-control">
        </div>
        <div class="form-group">
            <label for="exampleMeal">Meal:</label>
            <input type="text" name="exampleMeal" class="form-control">
        </div>
        <div>
            <input type="submit" value="Add to Meals" class="btn btn-primary">
        </div>
    </form>
</div>

<form action="{{meals.id}}/edit">
  <input class="btn btn-default" type="submit" value="Go Back">
</form> -->
