

<div class="login-signup">
  <h1>Welcome</h1>
  <form action="/users/signup">
    <input class="btn btn-default"  type="submit" value="SIGN UP">
  </form>

  <form action="/sessions/login">
    <input class="btn btn-default" type="submit" value="LOG IN">
  </form>
</div>
