
<div class="container loginPage">
  <form action="/sessions/login" method="post">
    <div class="header">
      <h2>Welcome Back!</h2>
    </div>

    <div>
      <label for="email">email</label>
      <input type="text" placeholder="Enter Email" name="email">
    </div>

    <div>
      <label for="password">password</label>
      <input type="password" placeholder="Enter Password" name="password">
    </div>
    <div >
      <button type="submit">Login</button>
      <input type="checkbox" checked="checked"> Remember me
    </div>
    </div>
  </form>
</div>
