<h1>welcome</h1>

<h1>My Favorite Meals</h1>
<ol>
    {{#each meals}}
    <li>
        <h1><a href="/users/{{../user.id}}/meals/{{this.id}}/edit">{{this.name}}</a></h1>
    </li>
    {{/each}}
</ol>

<form action="/users/{{user.id}}/meals/new">
  <input class="btn btn-default" type="submit" value="Create New Meal">
</form>
