
<h1>The Coders Digest</h1>

<div class="d-flex align-content-around flex-wrap">

  <ul>
      {{#each meals}}
      <li>
          <h1><a href="/users/{{../user.id}}/meals/{{this.id}}/edit">{{this.name}}</a></h1>
      </li>
      {{/each}}
  </ul>


  <form action="/users/{{user.id}}/meals/new">
    <input class="btn btn-default" type="submit" value="Create New Meal">
  </form>

</div>
