<h1>My Favorite Meals</h1>

<ol>
    {{#each meals}}
    <li>
        <h1><a href="/meals/{{this.id}}">{{this.name}}</a></h1>
        <h3>{{this.calories}}</h3>
    </li>
    {{/each}}
</ol>

<a href="/meals/new" class="btn btn-default">Create a New Meal</a>
